[Unit]
Description=MirrorMini Startup Service
After=local-fs.target
Before=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/bin/bash /path/to/your/project/scripts/mirrormini.sh
WorkingDirectory=/path/to/your/project
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target

